
body {
    padding-left: 80px;
    padding-right: 40px;
}
.banner {
    width: 100%;
    height: auto;
}
.links {
    text-align: center;
    font-size: larger;
}
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-style: normal;
}
h2 {
    text-align: center;
    text-decoration: underline;
}

#subhead {
    text-align: center;
    font-style: italic;
    text-decoration: none;
}

.column {
    float: left;
    width: 50%;
    
    
  }
  .column2 {
    float: left;
    width: 33%;
    
    
  }

  .row {
    
    padding: 25px;
  }

  .row::after {
    content:"";
    display: table;
    clear: both;
    padding: 5px;

  }

  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
